<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-DQvkBjpPgn7RC31MCQoOeC9TI2kdqa4+BSgNMNj8v77fdC77Kj5zpWFTJaaAoMbC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Fancy Pants Blog</title>
  </head>
  <body>

    <div class="container">
      <header class="d-flex flex-wrap justify-content-center align-items-end py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
          <img src="/img/icon.jpg" class="bi me-2" width="40" height="32" aria-hidden="true">
          <span class="fs-4">Dog Blog</span>
        </a>

        <ul class="nav nav-pills align-items-center">
          <li class="nav-item nav-link link-light">A very simple website</li>
          <li class="nav-item"><a href="/add" class="nav-link active" aria-current="page">New Post</a></li>
        </ul>
      </header>
    </div>

    <main>